<div class="center jumbotron">
  
  <h1>Login and book your hotels now!</h1>
<p>Your comfort , Our value</p>

  

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


